html,
body {
  max-width: 180vw;
  overflow-x: hidden;
} @media screen and (min-width: 1025px) { 
  /* iPad Proの横幅が1024px */
  body {
    background-color: aqua;
    color: #333;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
